In [ ]:
!wget "https://drive.google.com/uc?export=download&id=19H4gRONhYlgtNC24X7Nhi2OGuKgtqM1Y" -O ott.xlsx

--2025-09-01 12:37:48--  https://drive.google.com/uc?export=download&id=19H4gRONhYlgtNC24X7Nhi2OGuKgtqM1Y
Resolving drive.google.com (drive.google.com)... 173.194.202.113, 173.194.202.139, 173.194.202.100, ...
Connecting to drive.google.com (drive.google.com)|173.194.202.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=19H4gRONhYlgtNC24X7Nhi2OGuKgtqM1Y&export=download [following]
--2025-09-01 12:37:48--  https://drive.usercontent.google.com/download?id=19H4gRONhYlgtNC24X7Nhi2OGuKgtqM1Y&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 108.177.98.132, 2607:f8b0:400e:c06::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|108.177.98.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 506120 (494K) [application/octet-stream]
Saving to: ‘ott.xlsx’

ott.xlsx            100%[===================>] 494.26K  --.-KB/s    in 0.003s

2025-09-01 12:37:51 (140 MB/s) - ‘ott.xlsx’ saved [506120/506120]

In [ ]:
import pandas as pd

df = pd.read_excel("ott.xlsx", sheet_name="Sheet1")
df.head()

,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,1.0,The Irishman,2019.0,18+,98/100,1.0,0,0.0,0.0
1,2.0,Dangal,2016.0,7+,97/100,1.0,0,0.0,0.0
2,3.0,David Attenborough: A Life on Our Planet,2020.0,7+,95/100,1.0,0,0.0,0.0
3,4.0,Lagaan: Once Upon a Time in India,2001.0,7+,94/100,1.0,0,0.0,0.0
4,5.0,Roma,2018.0,18+,94/100,1.0,0,0.0,0.0

In [ ]:
df.shape

(9516, 9)

In [ ]:
df.describe()

,ID,Year,Netflix,Hulu,Prime Video,Disney+
count,9515.000000,9515.000000,9515.000000,9516.000000,9515.000000,9515.000000
mean,4758.000000,2007.422386,0.388334,0.220050,0.432265,0.096900
std,2746.888239,19.130367,0.487397,10.736392,0.495417,0.295837
min,1.000000,1914.000000,0.000000,0.000000,0.000000,0.000000
25%,2379.500000,2006.000000,0.000000,0.000000,0.000000,0.000000
50%,4758.000000,2015.000000,0.000000,0.000000,0.000000,0.000000
75%,7136.500000,2018.000000,1.000000,0.000000,1.000000,0.000000
max,9515.000000,2021.000000,1.000000,1047.000000,1.000000,1.000000

In [ ]:
df = df.reset_index(drop=True)   # reset index
df['ID'] = df.index + 1

In [ ]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [ ]:
df = df.dropna(subset=['title'])

In [ ]:
df.isna().sum()

id                    0
title                 0
year                  0
age                4177
rotten_tomatoes       7
netflix               0
hulu                  0
prime_video           0
disney+               0
dtype: int64

In [ ]:
df["age"] = df["age"].str.replace("+", "", regex=False)

In [ ]:
df['prime_video'] = df['prime_video'].astype(int)

In [ ]:
df['netflix'] = df['netflix'].astype(int)

In [ ]:
df['year'] = df['year'].astype(int)
df['disney+'] = df['disney+'].astype(int)

In [ ]:
df["age"] = df["age"].fillna("Unrated")

In [ ]:
df["rotten_tomatoes"] = df["rotten_tomatoes"].str.replace("/100", "", regex=False)

In [ ]:
df.head()

,id,title,year,age,rotten_tomatoes,netflix,hulu,prime_video,disney+
0,1,The Irishman,2019,18,98,1,0,0,0
1,2,Dangal,2016,7,97,1,0,0,0
2,3,David Attenborough: A Life on Our Planet,2020,7,95,1,0,0,0
3,4,Lagaan: Once Upon a Time in India,2001,7,94,1,0,0,0
4,5,Roma,2018,18,94,1,0,0,0

In [ ]:
df = df.dropna(subset=['rotten_tomatoes'])

In [ ]:
df["rotten_tomatoes"] = df["rotten_tomatoes"].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9508 entries, 0 to 9514
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               9508 non-null   int64
 1   title            9508 non-null   object
 2   year             9508 non-null   int64
 3   age              9508 non-null   object
 4   rotten_tomatoes  9508 non-null   int64
 5   netflix          9508 non-null   int64
 6   hulu             9508 non-null   int64
 7   prime_video      9508 non-null   int64
 8   disney+          9508 non-null   int64
dtypes: int64(7), object(2)
memory usage: 742.8+ KB

In [ ]:
df.head()

,id,title,year,age,rotten_tomatoes,netflix,hulu,prime_video,disney+
0,1,The Irishman,2019,18,98,1,0,0,0
1,2,Dangal,2016,7,97,1,0,0,0
2,3,David Attenborough: A Life on Our Planet,2020,7,95,1,0,0,0
3,4,Lagaan: Once Upon a Time in India,2001,7,94,1,0,0,0
4,5,Roma,2018,18,94,1,0,0,0

In [ ]:
df.describe()

,id,year,rotten_tomatoes,netflix,hulu,prime_video,disney+
count,9508.000000,9508.000000,9508.000000,9508.000000,9508.000000,9508.000000,9508.000000
mean,4758.784813,2007.416386,53.545015,0.387884,0.110118,0.432583,0.096971
std,2747.746960,19.134883,13.197673,0.487293,0.313053,0.495460,0.295934
min,1.000000,1914.000000,10.000000,0.000000,0.000000,0.000000,0.000000
25%,2377.750000,2006.000000,44.000000,0.000000,0.000000,0.000000,0.000000
50%,4761.500000,2015.000000,52.000000,0.000000,0.000000,0.000000,0.000000
75%,7138.250000,2018.000000,62.000000,1.000000,0.000000,1.000000,0.000000
max,9515.000000,2021.000000,98.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [id, title, year, age, rotten_tomatoes, netflix, hulu, prime_video, disney+]
Index: []

In [ ]:
df.describe(include='all')

,id,title,year,age,rotten_tomatoes,netflix,hulu,prime_video,disney+
count,9508.000000,9508,9508.000000,9508,9508.000000,9508.000000,9508.000000,9508.000000,9508.000000
unique,NaN,9508,NaN,6,NaN,NaN,NaN,NaN,NaN
top,NaN,Women of Impact: Changing the World,NaN,Unrated,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,4170,NaN,NaN,NaN,NaN,NaN
mean,4758.784813,NaN,2007.416386,NaN,53.545015,0.387884,0.110118,0.432583,0.096971
std,2747.746960,NaN,19.134883,NaN,13.197673,0.487293,0.313053,0.495460,0.295934
min,1.000000,NaN,1914.000000,NaN,10.000000,0.000000,0.000000,0.000000,0.000000
25%,2377.750000,NaN,2006.000000,NaN,44.000000,0.000000,0.000000,0.000000,0.000000
50%,4761.500000,NaN,2015.000000,NaN,52.000000,0.000000,0.000000,0.000000,0.000000
75%,7138.250000,NaN,2018.000000,NaN,62.000000,1.000000,0.000000,1.000000,0.000000
max,9515.000000,NaN,2021.000000,NaN,98.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.nunique()

id                 9508
title              9508
year                103
age                   6
rotten_tomatoes      85
netflix               2
hulu                  2
prime_video           2
disney+               2
dtype: int64

In [ ]:
df['netflix'].value_counts()

netflix
0    5820
1    3688
Name: count, dtype: int64

In [ ]:
df.corr(numeric_only=True)

,id,year,rotten_tomatoes,netflix,hulu,prime_video,disney+
id,1.000000,-0.334845,-0.376361,-0.844330,-0.087096,0.541913,0.500072
year,-0.334845,1.000000,0.035596,0.306470,0.080546,-0.243506,-0.177820
rotten_tomatoes,-0.376361,0.035596,1.000000,0.054464,0.182652,-0.208164,0.118378
netflix,-0.844330,0.306470,0.054464,1.000000,-0.253133,-0.647565,-0.256481
hulu,-0.087096,0.080546,0.182652,-0.253133,1.000000,-0.240009,-0.108462
prime_video,0.541913,-0.243506,-0.208164,-0.647565,-0.240009,1.000000,-0.276798
disney+,0.500072,-0.177820,0.118378,-0.256481,-0.108462,-0.276798,1.000000

In [ ]:
df.head()

,id,title,year,age,rotten_tomatoes,netflix,hulu,prime_video,disney+
0,1,The Irishman,2019,18,98,1,0,0,0
1,2,Dangal,2016,7,97,1,0,0,0
2,3,David Attenborough: A Life on Our Planet,2020,7,95,1,0,0,0
3,4,Lagaan: Once Upon a Time in India,2001,7,94,1,0,0,0
4,5,Roma,2018,18,94,1,0,0,0

In [ ]:
df = df.rename(columns={"age": "age_rating"})

In [ ]:
df.head()

,id,title,year,age_rating,rotten_tomatoes,netflix,hulu,prime_video,disney+
0,1,The Irishman,2019,18,98,1,0,0,0
1,2,Dangal,2016,7,97,1,0,0,0
2,3,David Attenborough: A Life on Our Planet,2020,7,95,1,0,0,0
3,4,Lagaan: Once Upon a Time in India,2001,7,94,1,0,0,0
4,5,Roma,2018,18,94,1,0,0,0

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# sns.countplot(x='platform', data=df)   # Content count by platform
# plt.show()

sns.histplot(df['rotten_tomatoes'], bins=20, kde=True)  # Rating distribution
plt.show()

In [ ]:
df[["netflix","hulu","prime_video","disney+"]].sum()

netflix        3688
hulu           1047
prime_video    4113
disney+         922
dtype: int64

In [ ]:
df.groupby("age_rating")[["netflix","hulu","prime_video","disney+"]].sum()

In [ ]:
df_all4 = df[(df["netflix"] == 0) &
             (df["hulu"] == 0) &
             (df["prime_video"] == 0) &
             (df["disney+"] == 0)]

In [ ]:
df_all4

Empty DataFrame
Columns: [id, title, year, age_rating, rotten_tomatoes, netflix, hulu, prime_video, disney+]
Index: []

In [ ]:
df = df.reset_index(drop=True)   # reset index
df['id'] = df.index + 1

In [ ]:
df["age_rating"].unique()

array(['18', '7', '13', '16', 'all', 'Unrated'], dtype=object)

In [ ]:
df = df.drop("ID", axis=1)

In [ ]:
df.head()

,id,title,year,age_rating,rotten_tomatoes,netflix,hulu,prime_video,disney+
0,1,The Irishman,2019,18,98,1,0,0,0
1,2,Dangal,2016,7,97,1,0,0,0
2,3,David Attenborough: A Life on Our Planet,2020,7,95,1,0,0,0
3,4,Lagaan: Once Upon a Time in India,2001,7,94,1,0,0,0
4,5,Roma,2018,18,94,1,0,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9508 entries, 0 to 9507
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               9508 non-null   int64
 1   title            9508 non-null   object
 2   year             9508 non-null   int64
 3   age_rating       9508 non-null   object
 4   rotten_tomatoes  9508 non-null   int64
 5   netflix          9508 non-null   int64
 6   hulu             9508 non-null   int64
 7   prime_video      9508 non-null   int64
 8   disney+          9508 non-null   int64
dtypes: int64(7), object(2)
memory usage: 668.7+ KB

In [ ]:
df_melted = df.melt( id_vars=["id", "title", "year", "age_rating", "rotten_tomatoes"], value_vars=["netflix", "hulu", "prime_video", "disney+"], var_name="platform", value_name="available" )

In [ ]:
df_melted.head()

,id,title,year,age_rating,rotten_tomatoes,platform,available
0,1,The Irishman,2019,18,98,netflix,1
1,2,Dangal,2016,7,97,netflix,1
2,3,David Attenborough: A Life on Our Planet,2020,7,95,netflix,1
3,4,Lagaan: Once Upon a Time in India,2001,7,94,netflix,1
4,5,Roma,2018,18,94,netflix,1

In [ ]:
df_melted["title"] = df_melted["title"].astype(str)
df_melted = df_melted.sort_values(by="title")

In [ ]:
df_melted.head()

,id,title,year,age_rating,rotten_tomatoes,platform,available
29516,993,#Alive,2020,Unrated,62,disney+,0
992,993,#Alive,2020,Unrated,62,netflix,1
20008,993,#Alive,2020,Unrated,62,prime_video,0
10500,993,#Alive,2020,Unrated,62,hulu,0
30322,1799,#AnneFrank. Parallel Stories,2019,Unrated,54,disney+,0

In [ ]:
df_melted.shape

(38032, 7)

In [ ]:
df_melted = df_melted[df_melted['available'] == 1]

In [ ]:
df_melted

,id,title,year,age_rating,rotten_tomatoes,platform,available
992,993,#Alive,2020,Unrated,62,netflix,1
1798,1799,#AnneFrank. Parallel Stories,2019,Unrated,54,netflix,1
2549,2550,#FriendButMarried,2018,Unrated,47,netflix,1
2496,2497,#FriendButMarried 2,2020,16,47,netflix,1
26916,7901,#IMomSoHard Live,2019,18,40,prime_video,1
...,...,...,...,...,...,...,...
3001,3002,Ãnima,2018,Unrated,42,netflix,1
2791,2792,Ã–ldÃ¼r Beni Sevgilim,2019,Unrated,44,netflix,1
2983,2984,Ã’lÃ²tÅ«rÃ©,2019,Unrated,42,netflix,1
23985,4970,Ã†on Flux,2005,13,68,prime_video,1
26869,7854,à¤œà¤¾à¤¨ à¤¤à¥‡à¤°à¥‡ à¤¨à¤¾à¤®,1992,Unrated,40,prime_video,1

In [ ]:
df.to_excel("ott_new.xlsx", sheet_name="ott", index=False)

In [ ]:
df_melted['title'].astype(str).str.encode('utf-8', 'ignore').str.decode('utf-8')

992                                #Alive
1798         #AnneFrank. Parallel Stories
2549                    #FriendButMarried
2496                  #FriendButMarried 2
26916                    #IMomSoHard Live
                       ...
3001                               Ãnima
2791                Ã–ldÃ¼r Beni Sevgilim
2983                          Ã’lÃ²tÅ«rÃ©
23985                           Ã†on Flux
26869    à¤œà¤¾à¤¨ à¤¤à¥‡à¤°à¥‡ à¤¨à¤¾à¤®
Name: title, Length: 9770, dtype: object

In [ ]:
df_melted = df_melted.reset_index(drop=True)   # reset index
df_melted['id'] = df_melted.index + 1

In [ ]:
df_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9770 entries, 0 to 9769
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               9770 non-null   int64
 1   title            9770 non-null   object
 2   year             9770 non-null   int64
 3   age_rating       9770 non-null   object
 4   rotten_tomatoes  9770 non-null   int64
 5   platform         9770 non-null   object
 6   available        9770 non-null   int64
dtypes: int64(4), object(3)
memory usage: 534.4+ KB

In [ ]:
df.to_excel("ott_PowerBI.xlsx", sheet_name="ott", index=False)

In [ ]:
df_melted.to_excel("ott_PowerBI.xlsx", sheet_name="ott", index=False)